.pagination > li > a,
.pagination > li > span {
    color: black; 
    border-color: black;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span  {background-color: black !important;
  border: white;
}
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: black;
    border-color: black;
}
